#container {
  box-sizing: border-box;
  margin: 20px;
  padding: 2.0rem;
  background-color: white;
  box-shadow: 6px 6px #00000008, 0 15px 32px #0000000f;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.0rem;
  align-items: center;
  border-radius: 5px;
}

#group, #groupEmpty {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#groupEmpty {
  background-color: #eeeeee;
}

#name {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 1px dotted;
  width: 90%;
  text-align: center;
}

#title {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  width: 100%;
  text-align: center;
}
