#container {
}

#title {
  padding-left: 80px;
  margin-bottom: 10px;
  border: 0;
  font-size: 2em;
  outline: 0;
  width: fit-content;
}

#week {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
