#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: auto;
}

#title {
  margin-bottom: 10px;
  border: 0;
  font-size: 2em;
  outline: 0;
}

#week {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#viewDetails {
  margin-top: 15px;
  width: 100%;
  text-align: end;
}

#addButton {
  align-self: stretch;
}
