#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: auto;
  background-color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 6px #00000001,0 15px 32px #0000000f;
  border-radius: 5px;
}

#title {
  margin-bottom: 10px;
  border: 0;
  font-size: 2em;
  outline: 0;
}

#week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

#viewDetails {
  margin-top: 15px;
  align-self: end;
}

#addButton {
  align-self: center;
  max-height: 300px;
  min-height: 300px;
  margin: 1px;
  min-width: 100px;
}
