.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bodyIcons {
  width: 2.0rem;
}

#chooseButton{
  background-color: white;
  border: 0;
  cursor: pointer;
}

#name {
  font-size: 1.0rem;
}

