.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#chooseButton{
  background-color: white;
  border: 0;
  cursor: pointer;
}

#name {
  font-size: 1.0rem;
}

.bodyIcons {
  width: 2.0rem;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px; 
  width: 200px;
  height: fit-content;
}
