.hint {
  position: absolute;
  bottom: 105%;
  left: -20px;
  z-index: 1;

  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}

.container:hover .hint {
  visibility: visible;
}
