#day {
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 25px;
  width: fit-content;
  padding: 15px;
  position: relative;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title {
  text-align: center;
  border-bottom: solid 1px;
}

#container {
  display: flex;
  flex-direction: row;
}

#chooseButton{
  padding: 0;
  margin: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
}

#icon {
  color: red;
}

#tools {
  position: relative;
  display: flex;
  flex-direction: row;
}

#info {
  display: flex;
  flex-direction: column;
}

#infoRow {
  display: flex;
  justify-content: space-between;
  gap: 8px; 
}

.listItem {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list{
  padding: 0px 0px 20px 0px;
}

.bodyIcons {
  width: 3.0rem;
}

.uniqueIcons {
  width: 2.2rem;
}

#uniqueMuscle {
  position:absolute;
  bottom: 0;
}