#day {
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 25px;
  width: fit-content;
  padding: 15px;
}

#container {
  display: flex;
  flex-direction: row;
}

#chooseButton{
  padding: 0;
  margin: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
}

#icon {
  color: red;
}

.listItem {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list{
  padding: 0;
}
